Repository Klifch/image-to-text: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_app1, package_app1, push_app1, deploy_app1, build_app2, package_app2, push_app2, deploy_app2

build_app1:
  stage: build
  image: eclipse-temurin:17.0.3_7-jdk-jammy
  script:
  - cd web-app
  - ./gradlew clean bootJar
  artifacts:
    paths:
    - web-app/build/libs/

package_app1:
  stage: package
  needs:
  - build_app1
  identity: google_cloud
  script:
  - cd web-app
  - docker build -t europe-west1-docker.pkg.dev/$PROJECT_ID/$REPO_NAME/app1:$IMAGE_TAG .

push_app1:
  stage: push
  needs:
  - package_app1
  identity: google_cloud
  script:
  - docker push europe-west1-docker.pkg.dev/$PROJECT_ID/$REPO_NAME/app1:$IMAGE_TAG

deploy_app1:
  stage: deploy
  needs:
  - push_app1
  identity: google_cloud
  script:
  - gcloud container clusters get-credentials $CLUSTER_NAME --zone $CLUSTER_ZONE
  - kubectl apply -f web-app/app1-deployment.yaml

build_app2:
  stage: build
  image: eclipse-temurin:17.0.3_7-jdk-jammy
  script:
  - cd api-app
  - ./gradlew clean bootJar
  artifacts:
    paths:
    - api-app/build/libs/

package_app2:
  stage: package
  needs:
  - build_app2
  identity: google_cloud
  script:
  - cd api-app
  - docker build -t europe-west1-docker.pkg.dev/$PROJECT_ID/$REPO_NAME/app2:$IMAGE_TAG .

push_app2:
  stage: push
  needs:
  - package_app2
  identity: google_cloud
  script:
  - docker push europe-west1-docker.pkg.dev/$PROJECT_ID/$REPO_NAME/app2:$IMAGE_TAG

deploy_app2:
  stage: deploy
  needs:
  - push_app2
  identity: google_cloud
  script:
  - gcloud container clusters get-credentials $CLUSTER_NAME --zone $CLUSTER_ZONE
  - kubectl apply -f api-app/app2-deployment.yaml

ci update
  .gitlab-ci.yml
Due: none

ci update
  web-app/src/main/resources/templates/home.html
Due: build_app1, package_app1, push_app1, deploy_app1

ci update
  .gitlab-ci.yml
  web-app/src/main/resources/templates/home.html
Due: build_app1, package_app1, push_app1, deploy_app1

ci update
  api-app/src/main/java/com/imgtotext/api_image_processor/webapi/ImageToTextController.java
Due: build_app2, package_app2, push_app2, deploy_app2

readme update
  Readme.md
Due: none

ci test
  api-app/src/main/java/com/imgtotext/api_image_processor/service/VisionService.java
  api-app/src/main/java/com/imgtotext/api_image_processor/webapi/ImageToTextController.java
  web-app/src/main/java/com/imagetotextservice/imagetotextapi/controller/HomeController.java
  web-app/src/main/java/com/imagetotextservice/imagetotextapi/webapi/ProxyController.java
  web-app/src/main/resources/templates/home.html
Due: build_app1, package_app1, push_app1, deploy_app1, build_app2, package_app2, push_app2, deploy_app2

test
  web-app/src/main/resources/templates/home.html
Due: build_app1, package_app1, push_app1, deploy_app1

Path conditions:
  build_app1: any of: web-app/**/*
  package_app1: any of: web-app/**/*
  push_app1: any of: web-app/**/*
  deploy_app1: any of: web-app/**/*
  build_app2: any of: api-app/**/*
  package_app2: any of: api-app/**/*
  push_app2: any of: api-app/**/*
  deploy_app2: any of: api-app/**/*
